body {
	min-height: 100vh;
	font-family: 'Kumbh Sans', sans-serif;
	padding: 10rem 0 5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(123,100,230);
	background: linear-gradient(0deg, rgba(123,100,230,1) 0%, rgba(175,104,234,1) 86%);
}


.main-container {
	position: relative;
	width: 90%;
	min-height: 34rem;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

/* ===============
	ILLUSTRATIONS
   =============== */

.illustration-div {
	display: flex;
	justify-content: center;
	align-items: center;
	position:absolute;
	top: -7rem;
	width: 100%;
}

.illustration-woman-d, .illustration-pattern-d {
	display: none;
}

.illustration-woman-m {
	position: relative;
	right: 1rem;
}

.illustration-pattern-m {
	position: absolute;
	bottom: -0.7rem;
}

.illustration-box {
	display: none;
}

/* ============
		FAQ
   ============ */

.faq-container {
	width: 85%;
	display: block;
	position: relative;
	margin: 7rem auto 2rem auto;
}

.main-title {
	text-align: center;
	font-weight: 900;
}

.accordion-container {
	border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 0.5rem 0;
}

.question-container {
	display: flex;
	align-items: center;
}

.question-button {
	background: transparent;
	border: none;
	outline: none;
	font-size: 14px;
	width: 100%;
	color: hsl(237, 12%, 33%);
	text-align: left;
	padding: 1rem 0.2rem 1rem 0;
}

.question-button.bold {
	font-weight: bolder;
	color: #222222;
}

.fas {
	pointer-events: none;
	position: absolute;
	right: -5px;
	color: hsl(14, 88%, 65%);
    transition: all 0.3s ease;
}

.answer-container {
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
    color: hsl(240, 6%, 50%);
    padding-right: 1rem;
    transition: all 0.3s ease;
}

.answer-container.active {
    max-height: 5rem;
}

.attribution {
    position: relative;
    bottom: -10rem;
}


@media screen and (min-width: 968px) {
	body {
		padding: 0rem 0;
		background: rgb(101,101,231);
		background: linear-gradient(0deg, rgba(101,101,231,1) 30%, rgba(175,103,233,1) 94%);
	}

	.main-container {
		padding: 0;
		position: relative;
		width: 70%;
		display: flex;
		max-height: 45vh;
	}



	.illustration-div {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		top: 0;
		width: 40%;
		overflow: hidden;
	}

	.illustration-woman-m, .illustration-pattern-m {
		display: none;
	}

	.illustration-woman-d, .illustration-pattern-d {
		display: inline;
	}	

	.illustration-woman-d {
		transform: translateX(-2.5rem);
		width: 
	}

	.illustration-pattern-d {
		border: 1px solid red;
		position: absolute;
		right: 0;
		bottom: -8rem;
	}

	.illustration-box {
		display: inline;
		position: absolute;
		left: -5.5rem;
		bottom: 8rem;
	}



	.faq-container {
		width: 50%;
		display: block;
		position: relative;
		margin: 4rem auto;
	}

	.main-title {
		text-align: left;
	}

	.fas {
		right: 6rem;
	}

	.accordion-container {
		width: 85%;
	}

	.question-button {
		font-size: 1rem;
	}

	.question-button:hover {
		color: hsl(14, 88%, 65%);
	}
}
